.footer {
  margin-left: 380px;
  height: 40px;
  line-height: 40px;
  color: #999;
  text-align: center;
  font-size: 13px;
}
.footer a {
  color: #999;
  text-decoration: underline;
}
@media screen and (max-width: 960px) {
  .footer {
    margin-left: 0;
  }
}
