.highlight {
  display: block;
  width: 100%;
  overflow-x: auto;
  font-size: 14px;
  line-height: 16px;
  background-color: #272822;
  background-image: linear-gradient(#353535, #353535);
  background-repeat: repeat-x;
  background-size: 100% 28px;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
.highlight:before {
  content: 'code';
  display: block;
  padding: 0 8px;
  line-height: 28px;
  color: #989898;
  text-transform: capitalize;
}
.highlight[class~="1c"]:before {
  content: "1c";
}
.highlight[class~="abnf"]:before {
  content: "abnf";
}
.highlight[class~="accesslog"]:before {
  content: "accesslog";
}
.highlight[class~="actionscript"]:before {
  content: "actionscript";
}
.highlight[class~="ada"]:before {
  content: "ada";
}
.highlight[class~="apache"]:before {
  content: "apache";
}
.highlight[class~="applescript"]:before {
  content: "applescript";
}
.highlight[class~="cpp"]:before {
  content: "cpp";
}
.highlight[class~="arduino"]:before {
  content: "arduino";
}
.highlight[class~="armasm"]:before {
  content: "armasm";
}
.highlight[class~="xml"]:before {
  content: "xml";
}
.highlight[class~="asciidoc"]:before {
  content: "asciidoc";
}
.highlight[class~="aspectj"]:before {
  content: "aspectj";
}
.highlight[class~="autohotkey"]:before {
  content: "autohotkey";
}
.highlight[class~="autoit"]:before {
  content: "autoit";
}
.highlight[class~="avrasm"]:before {
  content: "avrasm";
}
.highlight[class~="awk"]:before {
  content: "awk";
}
.highlight[class~="axapta"]:before {
  content: "axapta";
}
.highlight[class~="bash"]:before {
  content: "bash";
}
.highlight[class~="basic"]:before {
  content: "basic";
}
.highlight[class~="bnf"]:before {
  content: "bnf";
}
.highlight[class~="brainfuck"]:before {
  content: "brainfuck";
}
.highlight[class~="cal"]:before {
  content: "cal";
}
.highlight[class~="capnproto"]:before {
  content: "capnproto";
}
.highlight[class~="ceylon"]:before {
  content: "ceylon";
}
.highlight[class~="clean"]:before {
  content: "clean";
}
.highlight[class~="clojure"]:before {
  content: "clojure";
}
.highlight[class~="clojure-repl"]:before {
  content: "clojure-repl";
}
.highlight[class~="cmake"]:before {
  content: "cmake";
}
.highlight[class~="coffeescript"]:before {
  content: "coffeescript";
}
.highlight[class~="coq"]:before {
  content: "coq";
}
.highlight[class~="cos"]:before {
  content: "cos";
}
.highlight[class~="crmsh"]:before {
  content: "crmsh";
}
.highlight[class~="crystal"]:before {
  content: "crystal";
}
.highlight[class~="cs"]:before {
  content: "cs";
}
.highlight[class~="csp"]:before {
  content: "csp";
}
.highlight[class~="css"]:before {
  content: "css";
}
.highlight[class~="d"]:before {
  content: "d";
}
.highlight[class~="markdown"]:before {
  content: "markdown";
}
.highlight[class~="dart"]:before {
  content: "dart";
}
.highlight[class~="delphi"]:before {
  content: "delphi";
}
.highlight[class~="diff"]:before {
  content: "diff";
}
.highlight[class~="django"]:before {
  content: "django";
}
.highlight[class~="dns"]:before {
  content: "dns";
}
.highlight[class~="dockerfile"]:before {
  content: "dockerfile";
}
.highlight[class~="dos"]:before {
  content: "dos";
}
.highlight[class~="dsconfig"]:before {
  content: "dsconfig";
}
.highlight[class~="dts"]:before {
  content: "dts";
}
.highlight[class~="dust"]:before {
  content: "dust";
}
.highlight[class~="ebnf"]:before {
  content: "ebnf";
}
.highlight[class~="elixir"]:before {
  content: "elixir";
}
.highlight[class~="elm"]:before {
  content: "elm";
}
.highlight[class~="ruby"]:before {
  content: "ruby";
}
.highlight[class~="erb"]:before {
  content: "erb";
}
.highlight[class~="erlang-repl"]:before {
  content: "erlang-repl";
}
.highlight[class~="erlang"]:before {
  content: "erlang";
}
.highlight[class~="excel"]:before {
  content: "excel";
}
.highlight[class~="fix"]:before {
  content: "fix";
}
.highlight[class~="flix"]:before {
  content: "flix";
}
.highlight[class~="fortran"]:before {
  content: "fortran";
}
.highlight[class~="fsharp"]:before {
  content: "fsharp";
}
.highlight[class~="gams"]:before {
  content: "gams";
}
.highlight[class~="gauss"]:before {
  content: "gauss";
}
.highlight[class~="gcode"]:before {
  content: "gcode";
}
.highlight[class~="gherkin"]:before {
  content: "gherkin";
}
.highlight[class~="glsl"]:before {
  content: "glsl";
}
.highlight[class~="go"]:before {
  content: "go";
}
.highlight[class~="golo"]:before {
  content: "golo";
}
.highlight[class~="gradle"]:before {
  content: "gradle";
}
.highlight[class~="groovy"]:before {
  content: "groovy";
}
.highlight[class~="haml"]:before {
  content: "haml";
}
.highlight[class~="handlebars"]:before {
  content: "handlebars";
}
.highlight[class~="haskell"]:before {
  content: "haskell";
}
.highlight[class~="haxe"]:before {
  content: "haxe";
}
.highlight[class~="hsp"]:before {
  content: "hsp";
}
.highlight[class~="htmlbars"]:before {
  content: "htmlbars";
}
.highlight[class~="http"]:before {
  content: "http";
}
.highlight[class~="hy"]:before {
  content: "hy";
}
.highlight[class~="inform7"]:before {
  content: "inform7";
}
.highlight[class~="ini"]:before {
  content: "ini";
}
.highlight[class~="irpf90"]:before {
  content: "irpf90";
}
.highlight[class~="java"]:before {
  content: "java";
}
.highlight[class~="javascript"]:before {
  content: "javascript";
}
.highlight[class~="jboss-cli"]:before {
  content: "jboss-cli";
}
.highlight[class~="json"]:before {
  content: "json";
}
.highlight[class~="julia"]:before {
  content: "julia";
}
.highlight[class~="julia-repl"]:before {
  content: "julia-repl";
}
.highlight[class~="kotlin"]:before {
  content: "kotlin";
}
.highlight[class~="lasso"]:before {
  content: "lasso";
}
.highlight[class~="ldif"]:before {
  content: "ldif";
}
.highlight[class~="leaf"]:before {
  content: "leaf";
}
.highlight[class~="less"]:before {
  content: "less";
}
.highlight[class~="lisp"]:before {
  content: "lisp";
}
.highlight[class~="livecodeserver"]:before {
  content: "livecodeserver";
}
.highlight[class~="livescript"]:before {
  content: "livescript";
}
.highlight[class~="llvm"]:before {
  content: "llvm";
}
.highlight[class~="lsl"]:before {
  content: "lsl";
}
.highlight[class~="lua"]:before {
  content: "lua";
}
.highlight[class~="makefile"]:before {
  content: "makefile";
}
.highlight[class~="mathematica"]:before {
  content: "mathematica";
}
.highlight[class~="matlab"]:before {
  content: "matlab";
}
.highlight[class~="maxima"]:before {
  content: "maxima";
}
.highlight[class~="mel"]:before {
  content: "mel";
}
.highlight[class~="mercury"]:before {
  content: "mercury";
}
.highlight[class~="mipsasm"]:before {
  content: "mipsasm";
}
.highlight[class~="mizar"]:before {
  content: "mizar";
}
.highlight[class~="perl"]:before {
  content: "perl";
}
.highlight[class~="mojolicious"]:before {
  content: "mojolicious";
}
.highlight[class~="monkey"]:before {
  content: "monkey";
}
.highlight[class~="moonscript"]:before {
  content: "moonscript";
}
.highlight[class~="n1ql"]:before {
  content: "n1ql";
}
.highlight[class~="nginx"]:before {
  content: "nginx";
}
.highlight[class~="nimrod"]:before {
  content: "nimrod";
}
.highlight[class~="nix"]:before {
  content: "nix";
}
.highlight[class~="nsis"]:before {
  content: "nsis";
}
.highlight[class~="objectivec"]:before {
  content: "objectivec";
}
.highlight[class~="ocaml"]:before {
  content: "ocaml";
}
.highlight[class~="openscad"]:before {
  content: "openscad";
}
.highlight[class~="oxygene"]:before {
  content: "oxygene";
}
.highlight[class~="parser3"]:before {
  content: "parser3";
}
.highlight[class~="pf"]:before {
  content: "pf";
}
.highlight[class~="php"]:before {
  content: "php";
}
.highlight[class~="pony"]:before {
  content: "pony";
}
.highlight[class~="powershell"]:before {
  content: "powershell";
}
.highlight[class~="processing"]:before {
  content: "processing";
}
.highlight[class~="profile"]:before {
  content: "profile";
}
.highlight[class~="prolog"]:before {
  content: "prolog";
}
.highlight[class~="protobuf"]:before {
  content: "protobuf";
}
.highlight[class~="puppet"]:before {
  content: "puppet";
}
.highlight[class~="purebasic"]:before {
  content: "purebasic";
}
.highlight[class~="python"]:before {
  content: "python";
}
.highlight[class~="q"]:before {
  content: "q";
}
.highlight[class~="qml"]:before {
  content: "qml";
}
.highlight[class~="r"]:before {
  content: "r";
}
.highlight[class~="rib"]:before {
  content: "rib";
}
.highlight[class~="roboconf"]:before {
  content: "roboconf";
}
.highlight[class~="routeros"]:before {
  content: "routeros";
}
.highlight[class~="rsl"]:before {
  content: "rsl";
}
.highlight[class~="ruleslanguage"]:before {
  content: "ruleslanguage";
}
.highlight[class~="rust"]:before {
  content: "rust";
}
.highlight[class~="scala"]:before {
  content: "scala";
}
.highlight[class~="scheme"]:before {
  content: "scheme";
}
.highlight[class~="scilab"]:before {
  content: "scilab";
}
.highlight[class~="scss"]:before {
  content: "scss";
}
.highlight[class~="shell"]:before {
  content: "shell";
}
.highlight[class~="smali"]:before {
  content: "smali";
}
.highlight[class~="smalltalk"]:before {
  content: "smalltalk";
}
.highlight[class~="sml"]:before {
  content: "sml";
}
.highlight[class~="sqf"]:before {
  content: "sqf";
}
.highlight[class~="sql"]:before {
  content: "sql";
}
.highlight[class~="stan"]:before {
  content: "stan";
}
.highlight[class~="stata"]:before {
  content: "stata";
}
.highlight[class~="step21"]:before {
  content: "step21";
}
.highlight[class~="stylus"]:before {
  content: "stylus";
}
.highlight[class~="subunit"]:before {
  content: "subunit";
}
.highlight[class~="swift"]:before {
  content: "swift";
}
.highlight[class~="taggerscript"]:before {
  content: "taggerscript";
}
.highlight[class~="yaml"]:before {
  content: "yaml";
}
.highlight[class~="tap"]:before {
  content: "tap";
}
.highlight[class~="tcl"]:before {
  content: "tcl";
}
.highlight[class~="tex"]:before {
  content: "tex";
}
.highlight[class~="thrift"]:before {
  content: "thrift";
}
.highlight[class~="tp"]:before {
  content: "tp";
}
.highlight[class~="twig"]:before {
  content: "twig";
}
.highlight[class~="typescript"]:before {
  content: "typescript";
}
.highlight[class~="vala"]:before {
  content: "vala";
}
.highlight[class~="vbnet"]:before {
  content: "vbnet";
}
.highlight[class~="vbscript"]:before {
  content: "vbscript";
}
.highlight[class~="vbscript-html"]:before {
  content: "vbscript-html";
}
.highlight[class~="verilog"]:before {
  content: "verilog";
}
.highlight[class~="vhdl"]:before {
  content: "vhdl";
}
.highlight[class~="vim"]:before {
  content: "vim";
}
.highlight[class~="x86asm"]:before {
  content: "x86asm";
}
.highlight[class~="xl"]:before {
  content: "xl";
}
.highlight[class~="xquery"]:before {
  content: "xquery";
}
.highlight[class~="zephir"]:before {
  content: "zephir";
}
.highlight[class~=// aliases "as"]:before {
  content: "as";
}
.highlight[class~="apacheconf"]:before {
  content: "apacheconf";
}
.highlight[class~="osascript"]:before {
  content: "osascript";
}
.highlight[class~="c"]:before {
  content: "c";
}
.highlight[class~="cc"]:before {
  content: "cc";
}
.highlight[class~="h"]:before {
  content: "h";
}
.highlight[class~="c++"]:before {
  content: "c++";
}
.highlight[class~="h++"]:before {
  content: "h++";
}
.highlight[class~="hpp"]:before {
  content: "hpp";
}
.highlight[class~="arm"]:before {
  content: "arm";
}
.highlight[class~="html"]:before {
  content: "html";
}
.highlight[class~="xhtml"]:before {
  content: "xhtml";
}
.highlight[class~="rss"]:before {
  content: "rss";
}
.highlight[class~="atom"]:before {
  content: "atom";
}
.highlight[class~="xjb"]:before {
  content: "xjb";
}
.highlight[class~="xsd"]:before {
  content: "xsd";
}
.highlight[class~="xsl"]:before {
  content: "xsl";
}
.highlight[class~="plist"]:before {
  content: "plist";
}
.highlight[class~="adoc"]:before {
  content: "adoc";
}
.highlight[class~="ahk"]:before {
  content: "ahk";
}
.highlight[class~="sh"]:before {
  content: "sh";
}
.highlight[class~="zsh"]:before {
  content: "zsh";
}
.highlight[class~="bf"]:before {
  content: "bf";
}
.highlight[class~="capnp"]:before {
  content: "capnp";
}
.highlight[class~="icl"]:before {
  content: "icl";
}
.highlight[class~="dcl"]:before {
  content: "dcl";
}
.highlight[class~="clj"]:before {
  content: "clj";
}
.highlight[class~="cmake.in"]:before {
  content: "cmake.in";
}
.highlight[class~="coffee"]:before {
  content: "coffee";
}
.highlight[class~="cson"]:before {
  content: "cson";
}
.highlight[class~="iced"]:before {
  content: "iced";
}
.highlight[class~="cls"]:before {
  content: "cls";
}
.highlight[class~="crm"]:before {
  content: "crm";
}
.highlight[class~="pcmk"]:before {
  content: "pcmk";
}
.highlight[class~="cr"]:before {
  content: "cr";
}
.highlight[class~="csharp"]:before {
  content: "csharp";
}
.highlight[class~="md"]:before {
  content: "md";
}
.highlight[class~="mkdown"]:before {
  content: "mkdown";
}
.highlight[class~="mkd"]:before {
  content: "mkd";
}
.highlight[class~="dpr"]:before {
  content: "dpr";
}
.highlight[class~="dfm"]:before {
  content: "dfm";
}
.highlight[class~="pas"]:before {
  content: "pas";
}
.highlight[class~="pascal"]:before {
  content: "pascal";
}
.highlight[class~="freepascal"]:before {
  content: "freepascal";
}
.highlight[class~="lazarus"]:before {
  content: "lazarus";
}
.highlight[class~="lpr"]:before {
  content: "lpr";
}
.highlight[class~="lfm"]:before {
  content: "lfm";
}
.highlight[class~="patch"]:before {
  content: "patch";
}
.highlight[class~="jinja"]:before {
  content: "jinja";
}
.highlight[class~="bind"]:before {
  content: "bind";
}
.highlight[class~="zone"]:before {
  content: "zone";
}
.highlight[class~="docker"]:before {
  content: "docker";
}
.highlight[class~="bat"]:before {
  content: "bat";
}
.highlight[class~="cmd"]:before {
  content: "cmd";
}
.highlight[class~="dst"]:before {
  content: "dst";
}
.highlight[class~="rb"]:before {
  content: "rb";
}
.highlight[class~="gemspec"]:before {
  content: "gemspec";
}
.highlight[class~="podspec"]:before {
  content: "podspec";
}
.highlight[class~="thor"]:before {
  content: "thor";
}
.highlight[class~="irb"]:before {
  content: "irb";
}
.highlight[class~="erl"]:before {
  content: "erl";
}
.highlight[class~="xlsx"]:before {
  content: "xlsx";
}
.highlight[class~="xls"]:before {
  content: "xls";
}
.highlight[class~="f90"]:before {
  content: "f90";
}
.highlight[class~="f95"]:before {
  content: "f95";
}
.highlight[class~="fs"]:before {
  content: "fs";
}
.highlight[class~="gms"]:before {
  content: "gms";
}
.highlight[class~="gss"]:before {
  content: "gss";
}
.highlight[class~="nc"]:before {
  content: "nc";
}
.highlight[class~="feature"]:before {
  content: "feature";
}
.highlight[class~="golang"]:before {
  content: "golang";
}
.highlight[class~="hbs"]:before {
  content: "hbs";
}
.highlight[class~="html.hbs"]:before {
  content: "html.hbs";
}
.highlight[class~="html.handlebars"]:before {
  content: "html.handlebars";
}
.highlight[class~="hs"]:before {
  content: "hs";
}
.highlight[class~="hx"]:before {
  content: "hx";
}
.highlight[class~="https"]:before {
  content: "https";
}
.highlight[class~="hylang"]:before {
  content: "hylang";
}
.highlight[class~="i7"]:before {
  content: "i7";
}
.highlight[class~="toml"]:before {
  content: "toml";
}
.highlight[class~="jsp"]:before {
  content: "jsp";
}
.highlight[class~="js"]:before {
  content: "js";
}
.highlight[class~="jsx"]:before {
  content: "jsx";
}
.highlight[class~="wildfly-cli"]:before {
  content: "wildfly-cli";
}
.highlight[class~="ls"]:before {
  content: "ls";
}
.highlight[class~="lassoscript"]:before {
  content: "lassoscript";
}
.highlight[class~="mk"]:before {
  content: "mk";
}
.highlight[class~="mak"]:before {
  content: "mak";
}
.highlight[class~="mma"]:before {
  content: "mma";
}
.highlight[class~="m"]:before {
  content: "m";
}
.highlight[class~="moo"]:before {
  content: "moo";
}
.highlight[class~="mips"]:before {
  content: "mips";
}
.highlight[class~="pl"]:before {
  content: "pl";
}
.highlight[class~="pm"]:before {
  content: "pm";
}
.highlight[class~="moon"]:before {
  content: "moon";
}
.highlight[class~="nginxconf"]:before {
  content: "nginxconf";
}
.highlight[class~="nim"]:before {
  content: "nim";
}
.highlight[class~="nixos"]:before {
  content: "nixos";
}
.highlight[class~="mm"]:before {
  content: "mm";
}
.highlight[class~="objc"]:before {
  content: "objc";
}
.highlight[class~="obj-c"]:before {
  content: "obj-c";
}
.highlight[class~="ml"]:before {
  content: "ml";
}
.highlight[class~="scad"]:before {
  content: "scad";
}
.highlight[class~="pf.conf"]:before {
  content: "pf.conf";
}
.highlight[class~="php3"]:before {
  content: "php3";
}
.highlight[class~="php4"]:before {
  content: "php4";
}
.highlight[class~="php5"]:before {
  content: "php5";
}
.highlight[class~="php6"]:before {
  content: "php6";
}
.highlight[class~="ps"]:before {
  content: "ps";
}
.highlight[class~="pp"]:before {
  content: "pp";
}
.highlight[class~="pb"]:before {
  content: "pb";
}
.highlight[class~="pbi"]:before {
  content: "pbi";
}
.highlight[class~="py"]:before {
  content: "py";
}
.highlight[class~="gyp"]:before {
  content: "gyp";
}
.highlight[class~="k"]:before {
  content: "k";
}
.highlight[class~="kdb"]:before {
  content: "kdb";
}
.highlight[class~="qt"]:before {
  content: "qt";
}
.highlight[class~="graph"]:before {
  content: "graph";
}
.highlight[class~="instances"]:before {
  content: "instances";
}
.highlight[class~="mikrotik"]:before {
  content: "mikrotik";
}
.highlight[class~="rs"]:before {
  content: "rs";
}
.highlight[class~="sci"]:before {
  content: "sci";
}
.highlight[class~="console"]:before {
  content: "console";
}
.highlight[class~="st"]:before {
  content: "st";
}
.highlight[class~="do"]:before {
  content: "do";
}
.highlight[class~="ado"]:before {
  content: "ado";
}
.highlight[class~="p21"]:before {
  content: "p21";
}
.highlight[class~="step"]:before {
  content: "step";
}
.highlight[class~="stp"]:before {
  content: "stp";
}
.highlight[class~="styl"]:before {
  content: "styl";
}
.highlight[class~="yml"]:before {
  content: "yml";
}
.highlight[class~="YAML"]:before {
  content: "YAML";
}
.highlight[class~="tk"]:before {
  content: "tk";
}
.highlight[class~="craftcms"]:before {
  content: "craftcms";
}
.highlight[class~="ts"]:before {
  content: "ts";
}
.highlight[class~="vb"]:before {
  content: "vb";
}
.highlight[class~="vbs"]:before {
  content: "vbs";
}
.highlight[class~="v"]:before {
  content: "v";
}
.highlight[class~="sv"]:before {
  content: "sv";
}
.highlight[class~="svh"]:before {
  content: "svh";
}
.highlight[class~="tao"]:before {
  content: "tao";
}
.highlight[class~="xpath"]:before {
  content: "xpath";
}
.highlight[class~="xq"]:before {
  content: "xq";
}
.highlight[class~="zep"]:before {
  content: "zep";
}
.highlight .gutter {
  width: 30px;
}
.highlight .gutter pre {
  padding-right: 8px;
  padding-left: 8px;
  color: #90908a;
  text-align: right;
}
.highlight,
.highlight .tag,
.highlight .subst {
  color: #f8f8f2;
}
.highlight .strong,
.highlight .emphasis {
  color: #a8a8a2;
}
.highlight .bullet,
.highlight .quote,
.highlight .number,
.highlight .regexp,
.highlight .literal,
.highlight .link {
  color: #ae81ff;
}
.highlight .code,
.highlight .title,
.highlight .section,
.highlight .selector-class {
  color: #fff;
}
.highlight .strong {
  font-weight: bold;
}
.highlight .emphasis {
  font-style: italic;
}
.highlight .keyword,
.highlight .selector-tag,
.highlight .name {
  color: #f92672;
}
.highlight .attr {
  color: #a6e22c;
}
.highlight .symbol,
.highlight .attribute {
  color: #66d9ef;
}
.highlight .params {
  color: #fd9720;
}
.highlight .class .title,
.highlight .function .title {
  color: #a6e22e;
}
.highlight .string,
.highlight .type,
.highlight .built_in,
.highlight .builtin-name,
.highlight .selector-id,
.highlight .selector-attr,
.highlight .selector-pseudo,
.highlight .addition,
.highlight .variable,
.highlight .template-variable {
  color: #e6db74;
}
.highlight .comment,
.highlight .deletion,
.highlight .meta {
  color: #75715e;
}
.markdown-body .highlight {
  margin-bottom: 16px;
}
.markdown-body .highlight table {
  margin-bottom: 0;
}
.markdown-body .highlight table tr {
  background-color: transparent;
  border-top: none;
}
.markdown-body .highlight table td {
  padding: 0;
  border: none;
}
.markdown-body .highlight pre {
  margin-bottom: 0;
  background-color: transparent;
  border-radius: 0;
}
