.tags-wrap .tag-list {
  color: #333;
  line-height: 22px;
  font-size: 0.8em;
  list-style: none;
  overflow: hidden;
}
.tags-wrap .tag-list-item {
  float: left;
  margin-top: 14px;
  margin-right: 14px;
  padding-right: 14px;
  border-radius: 6px;
  background-color: #f7f7f7;
  border: 1px solid #ececec;
}
.tags-wrap .tag-list-item:hover {
  background-color: #ececec;
  border-color: #dadada;
}
.tags-wrap .tag-list-link {
  display: inline-block;
  padding: 2px 8px 2px 14px;
  color: #333;
  vertical-align: middle;
}
.tags-wrap .tag-list-count {
  display: inline-block;
  color: #ff0505;
  border-left: 1px solid #ff0505;
  border-right: 1px solid #ff0505;
  border-radius: 14px;
  height: 14px;
  line-height: 14px;
  padding: 0 2px;
  vertical-align: middle;
}
